<div class="card">
  <h1>Nombre:</h1>
  <input type="text" name="" value="" id="nombre">
  <button type="button" name="button" id="enviar_nombre">enviar</button>

</div>
<script type="text/javascript">
  // Pusher setup
  var pusher = new Pusher('539a5f2700194b31fcf1', {
    encrypted: true
  });
  var channel = pusher.subscribe('printer-channel');

  // Get printer
  var printers = dymo.label.framework.getPrinters();
  if (printers.length === 0)
      console.warn("No DYMO printers are installed. Install DYMO printers.");
  var printerName = "";
  for (var i = 0; i < printers.length; ++i){
    var printer = printers[i];
    if (printer.printerType == "LabelWriterPrinter"){
      printerName = printer.name;
      break;
    }
  }
  $("#enviar_nombre").click(function(){
    if ($("#nombre").val().length >1) {
        var label = dymo.label.framework.openLabelXml(`<%=@event.label_xml%>`);
        label.setObjectText("Name", $("#nombee").val());
        label.print(printerName);
        }
  });

  // what to do when printer message received
  channel.bind('printer', function(data) {
    console.log(data);
    $.get("events/" + data.event, function( event_data ) {
      var labelXml = event_data.label_xml;
      var label = dymo.label.framework.openLabelXml(labelXml);
      label.setObjectText("Name", data.user.name.split(' ')[0]);
      label.print(printerName);
    });
  });
</script>
